.container{
    display:flex;
    align-items: center;
    width: 100%;
    height: 1300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logotipo{
    z-index: 1;
    margin-bottom:-50px;
}
.logotipo img{
    width: 400px;
}

.campoLucha{
    z-index: 0;
    background-image: url("../assets/fondo/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 800px;
    height: 500px;
    box-shadow: 10px 10px 10px;  
    border: 25px solid #b2e36c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cazadores{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pokemons{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cazador{
    width: 90px;
    height: 140px;
    padding:10px;
    margin:5px;
    background-color: rgb(137,66,27, 0.5);
    
  

}

.pokemon{
    width: 90px;
    height: 140px;
    padding:10px;
    margin:5px;
    background-color: rgb(178,227,108, 0.5);
}

span {
    font-size: 12px;
}

button {
    background: rgb(255,255,255,0);
    border: none;
}

#botonAtacar{
    background: rgb(255,255,255,0);
    border: none;
    display:none;
}

#botonAtacar img{
    width: 35px;
    height: 35px; 
}


